Flask
Werkzeug
Jinja2
SQLAlchemy
SQLAlchemy-Utils
Flask-SQLAlchemy
alembic
environs
mysqlclient
redis
psycopg2
pymongo
valkey
kafka-python
opensearch-dsl
pytest
pytest-cov
Flask-DebugToolbar
Flask-Static-Digest
Flask-Secrets
Flask-DB
flasgger
flask-jwt-extended
Flask-Cors